/* spec width, or measurements in px will usually mean a 
 * base width as referred to by spec in the responsive book */
/*div {
	border: 1px solid black;
}*/

/*.container:before, 
.container:after{
	content:"";
	display:table;
}
.container:after  {
	clear:both;
}
.container {
	zoom:1;
}*/

.page {
	margin: 36px auto;
	/*width: 960px;*/
	width: 90%;

	background-color: rgba(200,200,230,1);
	font-family:arial,sans-serif;
}

.lede {
	/*padding: 0 48px 0 48px*/
	padding: 0.8em  5.33333333%; /* 48px/900px */
}

.blog {
	margin: 0 auto 53px;
	/*width: 900px;*/
        /* 900px / 960px *  , basing off of context width 
        (context beign div.page) rather than base font size*/ 
	width: 93.75%; 

	background-color: rgba(240,200,200,1);
}

.blog .main {
	float: left;
	/*width:566px;*/
	/*context is 900px div.blog, so 566px/900px */
	width:62.8888889%; 

	background-color: rgba(200,240,200,1);
}

.blog .main .article  {
	float: left;
	/*context is main, spec width 566px*/
	/* line up the text with the title padding */
	/* the intent is to make the text take up a spec width of 474px */
        padding: 40px 8.48056537%; /* 48px/566px */
	width : 83.74558303886925%;/*474px/566px */

	background-color: rgba(240,240,200,1);
}

.date {
	float:left;
	width: 69px;
	margin-left: -81px;

	background-color:rgba(30,30,30,1);
	/* relative to base size */
	font-size: 3em;
	color:rgba(230,230,230,1);
}


.blog .other {
	float: right;
	/*width: 331px*/;
       /*331px / 900px*/
	width:36.7777778%; 
	background-color: rgba(240,240,240,1);
}

.blog .other .recent_entries {
	margin: 0 auto;
	width: 69.7885196%; /* 231px / 331px */
}

